<ng-template #content let-modal>
 <div class="modal-header">
   <h4 class="modal-title text-center" id="modal-basic-title">{{title}}</h4>
   <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
 </div>
 <div class="modal-body">
  <div *ngIf="title === 'Add Task'">
    <form class="form" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
     <div class="mb-3">
      <label for="taskName">User</label>
      <input type="text" class="form-control" id="taskName" formControlName="user" readonly>
    </div>
      <div class="mb-3">
        <label for="taskName">Name</label>
        <input type="text" class="form-control" id="taskName" placeholder="Enter Task Name" formControlName="name">
      </div>
      <div class="mb-3">
        <label for="taskDescription">Description</label>
        <input type="text" class="form-control" id="taskDescription" placeholder="Enter Task Description" formControlName="description">
      </div>
      <div class="text-center d-grid">
       <button type="submit" class="btn btn-primary rounded-pill ">Submit</button>
      </div>
    </form>
  </div>
  <div *ngIf="title !== 'Add Task'">
    <span>{{item|json}}</span>
   </div>
  
 </div>
 <!-- <div class="modal-footer">
   <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
 </div> -->
</ng-template>

<table class="table table-striped" style="background-color:white">
   <thead>
     <tr>
       <th *ngFor="let col of tableCols" scope="col">{{col|titlecase}}</th>
       <th scope="col" >Actions</th>
 
     </tr>
   </thead>
   <tbody>
       <tr *ngFor="let item of tableData">
         <td *ngFor="let col of tableCols">{{item[col]}}</td>
         <td>
           <button class="btn btn-primary rounded-pill" (click)="openModal(content, 'Edit Task', item)" style="margin-right: 5px;;font-size:large">
            <i class="fe-edit"></i>
           </button>
           <button class="btn btn-info rounded-pill" (click)="openModal(content, 'Show Details', item)" style="margin-right: 5px;font-size:large">
            <i class="fe-info"></i>
           </button> 
           <button class="btn btn-danger rounded-pill" (click)="deleteItem(item)" style="font-size:large">
            <i class="fe-trash"></i>
           </button> 
         </td>
          
       </tr>
     
   </tbody>
   <tfoot>
     <tr>
       <td>
         <button class="btn btn-primary rounded-pill " (click)="openModal(content, 'Add Task')" >Add Task</button>
       </td>
     </tr>
 </table>


