<ng-template #content let-modal>
 <div class="modal-header">
   <h4 class="modal-title text-center" id="modal-basic-title">{{title}}</h4>
   <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
 </div>
 <div class="modal-body">

 </div>
 <div class="modal-footer">
   <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
 </div>
</ng-template>

<table class="table table-striped" style="background-color:white">
   <thead>
     <tr>
       <th *ngFor="let col of tableCols" scope="col">{{col|titlecase}}</th>
       <th scope="col" colspan="2">Actions</th>
 
     </tr>
   </thead>
   <tbody>
       <tr *ngFor="let item of tableData">
         <td *ngFor="let col of tableCols">{{item[col]}}</td>
         <td>
           <button class="btn btn-primary" (click)="openModal(content, 'Edit Task', item)" style="margin-right: 5px;">
            <i class="fe-edit"></i>
           </button>
           <button class="btn btn-danger" (click)="openModal(content, 'Delete Task')">
            <i class="fe-trash"></i>
           </button> 
         </td>
          
       </tr>
     
   </tbody>
   <tfoot>
     <tr>
       <td>
         <button class="btn btn-primary" (click)="openModal(content, 'Add Task')" >Add Task</button>
       </td>
     </tr>
 </table>


