// 
// page-title.scss
//

.page-title-box {
    .page-title {
        font-size: 1.75rem;
        margin: 0;
        line-height: 75px;
        color: $primary;
        font-weight:700
    }

    .page-title-right {
        float: right;
        margin-top: 22px;
    }

    .breadcrumb-rtl {
        padding-top: 5px;
    }
}




.breadcrumb-item-rtl {
    text-align: left;
    // > a {
    //     color: $gray-700;
    // }
    // +.breadcrumb-item {
    //     &::before {
    //         font-family: "Material Design Icons";
    //     }
    // }
}

  .page-title-rtl {
        font-size: 1.75rem;
        margin: 0;
        line-height: 75px;
        color: $primary;
        font-weight:700
    }

    .page-title-right-rtl {
        float: left;
        margin-top: 22px;
    }

    .breadcrumb-rtl {
        padding-top: 5px;
        
    }


@include media-breakpoint-down(md) {
    .page-title-box {
        .page-title {
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 70px;
        }

        .breadcrumb {
            display: none;
        }
    }
    .page-title-box-rtl {
        .page-title {
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 70px;
        }

        .breadcrumb-rtl {
            display: none;
        }
    }
}

@media (max-width: 640px) {
    .page-title-box {
        .page-title-right {
            display: none;
        }
    }
    .page-title-box-rtl{
        .page-title-right {
            display: none;
        }
    }
}

@media (max-width: 419px) {
    .page-title-box .breadcrumb {
        display: none;
    }
    .page-title-box .breadcrumb {
        display: none;
    }
}