//
// Google font - Nunito
//

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600,700');

@font-face {

    font-family: "Montserrat Sans,sans-serif";

    src: url("../../../fonts/montserrat-v23-latin-300.eot");

    src: local('Montserrat Light'), url("../../../fonts/montserrat-v23-latin-300.woff") format("woff");

    font-weight: 300;

}



@font-face {

    font-family: "Montserrat Sans,sans-serif";

    src: url("../../../fonts/montserrat-v23-latin-regular.eot");

    src: local('Montserrat Regular'), url("../../../fonts/montserrat-v23-latin-regular.woff") format("woff");

    font-weight: 400;

}

@font-face {

    font-family: "Montserrat Sans,sans-serif";

    src: url("../../../fonts/montserrat-v23-latin-500.eot");

    src: local('Montserrat Medium'), url("../../../fonts/montserrat-v23-latin-500.woff") format("woff");

    font-weight: 500;

}

@font-face {

    font-family: "Montserrat Sans,sans-serif";

    src: url("../../../fonts/montserrat-v23-latin-600.eot");

    src: local('Montserrat Semibold'), url("../../../fonts/montserrat-v23-latin-600.woff") format("woff");

    font-weight: 600;

}

@font-face {

    font-family: "Montserrat Sans,sans-serif";

    src: url("../../../fonts/montserrat-v23-latin-700.eot");

    src: local('Montserrat Bold'), url("../../../fonts/montserrat-v23-latin-700.woff") format("woff");

    font-weight: 700;

}

//
// Premium font - Cerebri Sans
//

// @font-face {
//     font-family: "Cerebri Sans,sans-serif";
//     src: url("../../../fonts/cerebrisans-light.eot");
//     src: local('Cerebri-sans Light'), url("../../../fonts/cerebrisans-light.woff") format("woff");
//     font-weight: 300;
// }

// @font-face {
//     font-family: "Cerebri Sans,sans-serif";
//     src: url("../../../fonts/cerebrisans-regular.eot");
//     src: local('Cerebri-sans Regular'), url("../../../fonts/cerebrisans-regular.woff") format("woff");
//     font-weight: 400;
// }
// @font-face {
//     font-family: "Cerebri Sans,sans-serif";
//     src: url("../../../fonts/cerebrisans-medium.eot");
//     src: local('Cerebri-sans Medium'), url("../../../fonts/cerebrisans-medium.woff") format("woff");
//     font-weight: 500;
// }
// @font-face {
//     font-family: "Cerebri Sans,sans-serif";
//     src: url("../../../fonts/cerebrisans-semibold.eot");
//     src: local('Cerebri-sans Semibold'), url("../../../fonts/cerebrisans-semibold.woff") format("woff");
//     font-weight: 600;
// }
// @font-face {
//     font-family: "Cerebri Sans,sans-serif";
//     src: url("../../../fonts/cerebrisans-bold.eot");
//     src: local('Cerebri-sans Bold'), url("../../../fonts/cerebrisans-bold.woff") format("woff");
//     font-weight: 700;
// }
