.card-data {
  min-height: 250px;
}

.card-text-left {
  float: left;
}

.card-text-right {
  float: right;
  text-align: right;
  font-size: small;
  margin-bottom: 3px;

}




.mat-dialog-container {
	background-color: #f5f6f8;
	color:black;
	min-height: 250px;
}





.section-title {
  font-size: large;
  text-align: center;
  color: primary;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card-activity {
  min-height: 115px;
 }


.logo-box-rtl {
  margin-top: 10px;
  height: 70px;
  width: 249px;
  float: right;
  transition: all 0.1s ease-out;
}


$gray-100: #f1f5f7;
$gray-200: #f7f7f7;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #98a6ad;
$gray-700: #6c757d;
$gray-800: #343a40;
$gray-900: #323a46;






